
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h3>New User Created Successfully</h3>


@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
          
        $(function () {
            var save = '@TempData["Save"]'
            if (save != null)
            {
                alertify.success(save);
            }

            var edit = '@TempData["Edit"]'
            if (edit != null) { 
                alertify.success(edit);
            }

            var deleted = '@TempData["Delete"]'
            if (deleted != null) {
                alertify.error(deleted);
            }
        });
    </script>
}
